


/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Site Styles
================================================== */
	@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
	@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono&subset=latin,latin-ext);

	body { background-image: url(bg-grunge.png);  font-family: 'Didact Gothic', sans-serif;}
	h1,h2,h3,h4,h5,h6{font-family: 'Oxygen Mono', sans-serif;}
/*================================================== */


/* #Page Styles
================================================== */
	.page {	
		background-color:rgba(49, 106, 143, 0.25);
		box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
		margin: 0 auto 1em auto;
		max-width: 980px; /*estas medidas pueden variar */
		min-width: 300px; /*estas medidas pueden variar */
		padding: 0 .5em;
		}


	.header,.nav,.cuerpo,.aside,.footer{	
		background-color: #fdfdfd;
		/*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.50);*/
		display:inline-block; 
		margin: .7em auto;
		overflow: hidden;
		padding: .4em;
		position: relative; 
		vertical-align: top; 
		min-width: 260px; /*estas medidas pueden variar */
		width: 98%;
	}

	.cuerpo {display:inline-block; margin: .5em .5%;  width: 68%;}
	.aside {display:inline-block; margin: .5em .5%;  width: 25%;}


	.box,.footer-section,.menu-item {
		background-color: #fdfdfd;
		color: black;
		/*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.60);*/
		background-clip: padding-box;
		font-size: 1em;
		line-height: 18px;
		margin: .8em auto;
		overflow: hidden;
		padding: .4em;
		position: relative;
		}

	.header h1 {display: inline-block;}
	.logo {width: 150px;}
	.menu-item {display: inline-block; width: 20%; width: 100px; }
	.box{max-width: 700px; 	min-width: 300px; /*estas medidas pueden variar */}
	.box img{float: left; margin:.2em }
	.footer-section{display: inline-block; width: 31.5%; min-width: 200px; /*estas medidas pueden variar */}

	.social-item a{color:#ee0404;}
/*================================================== */